<ol id="list">
  <app-next [next]="'https://api.deezer.com/playlist/4725830544/tracks'" [myList]="myList"></app-next>
</ol>

<div id="textarea-block">
  <textarea name="textarea">
    Windows:
      chrome.exe --user-data-dir="C:/Chrome dev session" --disable-web-security

    MAC:
      open -n -a /Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --args --user-data-dir="/tmp/chrome_dev_sess_1" --disable-web-security
  </textarea>
  <textarea name="textarea">{{myList | json}}</textarea>
</div>
